body {
    background-color: rgba(3, 3, 90, 0.904);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.calculadora-container {
    background-color: rgb(115, 12, 233);
    display: flex;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(255, 255, 255);
    flex-direction: column;
    align-items: center;
    width: 200px;
    padding: 20px;
}

input {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color:rgb(57, 58, 57);
    color: black;
    cursor: pointer;
}

button:hover {
    background-color: rgb(2, 243, 34);
}

#resultado {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}