h1 {
    font-size: 30px;
    color: white;
}

p {
    color: red;
    font-size: 20px;
}

body {
    background-color: black;
}

.titulo-medio {
    font-size: 25px;
    color: white;
}

.menu {
    display: flex;
    align-items: center ;
    justify-content: space-between;
}

.form {
    display: grid;
}

#links {
    margin-top: 50px;
    padding-bottom: 10px;
    font-size: 15px;
    color: red;
}